@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100&family=Bebas+Neue&display=swap');
@import "tailwindcss";

body {
  font-family: "Bebas Neue", sans-serif;
}

/* Default pagination dots (white) */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  opacity: 1;
  transition: background-color 0.3s ease;
}

/* Active pagination dot (blue) */
.swiper-pagination-bullet-active {
  background-color: blue !important;
}
